
.category-carousel {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.category-slide {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease; 
}

.category-slide:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.slide-content {
  position: relative;
}

.category-image {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f7f3ee;
  border-radius: 15px;
  transition: background-size 0.4s ease-in-out;
}


.category-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 20px;
  color: white;
  text-align: center;
}

.category-info h3 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.category-info p {
  font-size: 18px;
  margin: 0;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 30px;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #ff6f61;
}

@media (max-width: 768px) {
  .category-image {
    height: 300px;
  }

  .category-info h3 {
    font-size: 24px;
  }

  .category-info p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .category-image {
    height: 200px;
  }

  .category-info h3 {
    font-size: 20px;
  }

  .category-info p {
    font-size: 14px;
  }
}
