.sliding-links-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
    margin: 0;
  }
  
  .sliding-links {
    display: inline-block;
  }
  
  .sliding-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .sliding-link:hover {
    background-color: #e9ecef;
  }